@font-face {
    font-family: 'young-serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

:root{
    --red: rgb(151, 59, 59);
    --pink: rgb(145, 42, 93);
    --text-gray: rgb(90, 89, 89);
    --font-size-normal: 1.1rem;
}

* {
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'outfit', Arial;
   
}

.red h2 {
    color: var(--red);
    font-family: 'young-serif', sans-serif;
}

main section:not(.image-section) {
    padding: 0 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

main section {
    min-width: 315px;
    max-width: 800px;
}

.introduction-section p {
    max-width: 350px;
    font-size: var(--font-size-normal);
    color: var(--text-gray);
    line-height: 1.5rem;
}

.preparation-section{
    margin-bottom: 2rem;
}

.preparation-section article{
    background-color: rgb(253, 242, 244);
    border-radius: 10px;
    padding: 2rem 1.5rem 1.5rem 2rem;
}

.preparation-section h3{
    font-size: 1.5rem;
    color: var(--pink);
}

/*still preparation style*/
article li::marker {
    color: var(--pink);
    font-size: 0.75rem;

}

.ingredients-section h2{
    margin-bottom: 1.5rem;
}
.ingredients-ul li::marker, ol li::marker {
    color: var(--red);
}

.ingredients-ul li::marker{
    font-size: 0.75rem;
}

ol li::marker{
    font-weight: bold;
}

li::marker{
    white-space: 5px;
}


article ul{
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    
}
article li{
    padding-left: 0.7rem;
    line-height: 2rem;
    overflow-wrap: break-word;
    max-width: 12rem;
    color: var(--text-gray)
}

li strong{
    color: rgb(51, 51, 51);
}


.introduction-section{
    margin: 3rem 0;
}

.introduction-section h1{
    font-family: 'young-serif';
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

hr {
    border-top: 0.8px solid rgb(216, 216, 216);
}

.ingredients-ul li::marker {
    color: var(--red);
}

.instructions-section h2 {
    padding-bottom: 2rem;
}

.instructions-ol {
    padding-left: 1.3rem;
}

.instructions-ol li{
    padding-left: 1rem;
}


/* image styles */
.image-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.image-container {
    display: flex;
    justify-content: center;    
}

.recipe-image {
    max-width: 100%;
    height: auto;
    display: block; 
}

@media (min-width: 601px){
    /* desktop styles so it gets applied later (mobile first design) */
    .image-section{
        padding: 0 20px;
        border-radius: 10px;
        padding-top: 10px;
    }

    .recipe-image{
        border-radius: 10px;
    }


}
